@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="card text-center">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <p> If you should have access to this page, contact an administrator. </p>
    </header>
</div>
