@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light ">
        <div class="col-sm-5 p-sm-5 mx-auto my-5">
            <h1 class="display-4 text-center font-weight-bold">Privacy Policy</h1>
            <p class="lead font-weight-lighter font-italic">For your information </p>
            <img src="~/img/logo/logo_size_invert2.jpg" />
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-2 py-2">
                <h2 class="display-5">Purpose</h2>
                <p class="lead">The purpose of our Privacy Policy is to tell you how we process your personal information and what we use it for. We also describe your rights and how you can enforce them.</p>
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">What is Personal Data</h2>
                <p class="lead">
                    Personal information is information that can be linked to you, e.g. your name, your email or the like.
                </p>
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Your Rights</h2>
                <p class="lead">
                    In accordance with the GDPR (EU Data Protection Regulation), you have a number of rights regarding the processing of your personal data. Below we have briefly described what rights you have. You can always turn to us to exercise your rights.

                    Right to register extract. This means that you get access to the personal data that we process about you.
                    Right to rectification. This means that you can request that your personal information be corrected in cases where the information is incorrect.
                    Right to withdraw consent. This means that you always have the right to withdraw a consent you have given us. An example of this could be that you no longer want to receive more newsletters sent to you.
                    Right to delete. This means that you have the right to request deletion of the personal data that we process about you. Keep in mind, however, that we may have the right to deny your request if there are legal obligations that prevent us from deleting certain personal data.
                    Right to limitation of treatment. This means that you have the right to request that the processing of your personal data be restricted. For example, in the case where you dispute the accuracy of the information.
                    Right to object to treatment. This means that you have the right to object to treatment based on a balance of interests. However, there may be exceptions to this right.
                    You have the right to object to your personal data being processed for marketing purposes.
                    You have the right to lodge a complaint. This means that you have the right to submit a complaint to the supervisory authority Datainspektionen (datainspektionen.se).
                    Right to data portability. This means that you have the right to obtain your personal data in a structured, generally used and machine-readable format in order to then be able to transfer these to another personal data controller. There can sometimes be technical limitations around this.
                </p>
            </div>
            <div class="bg-transparent box-shadow mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Automated Decisions?</h2>
                <p class="lead">We make no automated descisions regarding your data</p>
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: auto; height: 0px; border-radius: 21px 21px 0 0;"></div>
        </div>

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">More Questions?</h2>
                <p class="lead">Contacting us is easy. Email: Isachells92@hotmail.com  - phone: 0790548925</p>
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Cookie Policy</h2>
                <p class="lead"> By using this website you agree on using cookies.</p>
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Removing Cookies</h2>
                <p class="lead">
                    You can easily choose whether you want to accept cookies on your computer or not.
                    You're browser allows you to delete any cookies at any given point.
                </p>
            </div>
        </div>
    </div>

    <footer class="container py-5">
        <div class="row">

        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>
